/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel');

/* Variable */
:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Grand Hotel', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --max-width: ;
}

/* Reset CSS */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/* Global */

a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
.btn {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  border: none;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: var(--clr-primary-light);
  color: var(--clr-primary);
}
.clearfix::after,
.clearfix::before {
  content: '';
  clear: both;
  display: table;
}
.section-title {
  margin-bottom: 2rem;
}
.section-title h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
}
.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
    padding: 4rem 1rem;
  }
}
.form-control {
  background-color: var(--clr-grey-10);
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  display: block;
  width: 100%;
  outline: none;
  border: none;
}
.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Navbar */
.nav-btn {
  position: fixed;
  top: 5%;
  left: 5%;
  font-size: 2.5rem;
  color: var(--clr-primary);
  z-index: 1;
  cursor: pointer;
  animation: bounce 2s ease infinite;
}
.nav {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: var(--clr-grey-10);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: var(--transition);
}
.nav .close-icon {
  text-align: right;
  font-size: 2.5rem;
  padding-right: 1rem;
  color: #f29c9c;
  cursor: pointer;
  transition: var(--transition);
}
.nav .close-icon:hover {
  color: #bb2525;
}
.nav ul li {
  list-style-type: none;
}
.nav ul li a {
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  display: block;
  transition: var(--transition);
}
.nav ul li a:hover {
  background-color: var(--clr-primary-light);
  border-left: 0.25rem solid var(--clr-primary);
  padding-left: 1.5rem;
  color: var(--clr-primary);
}
.showNav {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .nav {
    max-width: 20rem;
  }
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/main-bcg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
header .banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  animation: slideFromRight 2s ease-in-out 1;
}
header .banner h1 {
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  animation: slideFromLeft 2s ease-in-out 1;
}
header .banner button {
  outline: 0.125rem solid var(--clr-primary-light);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.7rem;
  animation: show 2s linear 1;
}

/* Content Divider */
.content-divider {
  height: 0.5rem;
  background: linear-gradient(to left, var(--clr-primary), #e9b949, var(--clr-primary));
  width: 100%;
}

/* Skills */
.skills .box {
  background: var(--clr-grey-10);
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
  border-bottom: 3px solid transparent;
}
.skills .box:hover {
  background: var(--clr-white);
  box-shadow: 0 2px 0 var(--clr-primary);
  border-bottom: 3px solid var(--clr-primary);
}
.skills .box .icon {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: var(--clr-primary);
  transition: var(--transition);
}
.skills .box:hover .icon {
  transform: translateY(-5px);
}
.skills .box p {
  color: var(--clr-grey-5);
  max-width: 17rem;
  margin: 0 auto;
}
@media screen and (min-width: 640px) {
  .skills .box {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .skills .box {
    width: 25%;
  }
}

/* About */
.about .img,
.about .info {
  padding: 2rem 0;
}
.about .img .about-picture-container {
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 30rem;
  overflow: hidden;
}
.about .img .about-picture-container img {
  transition: var(--transition);
}
.about .img .about-picture-container:hover img {
  opacity: 0.5;
  transform: scale(1.2);
}
.about .info p {
  max-width: 26rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 1024px) {
  .about .img,
  .about .info {
    float: left;
    width: 50%;
  }
  .about .info {
    padding: 2rem;
  }
}

/* Product */
.product {
  background-color: var(--clr-grey-10);
}
.product .info {
  padding: 2rem 0;
}
.product .info p {
  max-width: 26rem;
  color: var(--clr-grey-5);
}
.product .product-list .card {
  margin-bottom: 2rem;
}
.product .product-list .card img {
  border-radius: var(--radius);
  height: 17rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.product .product-list .card .price {
  color: var(--clr-primary);
}
@media screen and (min-width: 1200px) {
  .product .info {
    float: left;
    width: 30%;
  }
  .product .product-list {
    padding-left: 1rem;
    float: left;
    width: 70%;
  }
  .product .product-list .card {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 768px) {
  .product .product-list .card {
    width: 50%;
    float: left;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .product .product-list .card {
    width: 33%;
    float: left;
    padding-right: 2rem;
  }
}

/* Our Service */
.our-service .section-title {
  text-align: center;
}
.our-service .service-list .card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  margin: 2rem 0;
  transition: var(--transition);
  background-color: var(--clr-grey-10);
}
.our-service .service-list .card:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .our-service .service-list .card {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 1200px) {
  .our-service .service-list .card {
    float: left;
    width: 30%;
    margin-right: 3.33%;
  }
}
.our-service .service-list .card .img-container {
  position: relative;
}
.our-service .service-list .card .img-container .icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: var(--clr-primary-light);
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--clr-primary);
  transform: translate(-50%, 50%);
  border: 0.375rem solid var(--clr-grey-10);
}
.our-service .service-list .card .img-container img {
  height: 17rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.our-service .service-list .card .info {
  text-align: center;
  padding: 3rem 1rem 2.5rem 1rem;
}
.our-service .service-list .card .info p {
  max-width: 20rem;
  margin: 0 auto;
  color: var(--clr-grey-5);
}
.our-service .service-list .card .info .btn {
  border-radius: var(--radius);
  margin-top: 1.25rem;
}

/* Contact Us */
.contact-us {
  background-color: var(--clr-grey-10);
}
.contact-us .info {
  margin-bottom: 1rem;
}
.contact-us .info .item {
  margin-bottom: 1.75rem;
}
.contact-us .info .item .icon {
  font-weight: 400;
  color: var(--clr-primary);
}
.contact-us .form {
  max-width: 35rem;
  background-color: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
.contact-us .form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.contact-us .form h3 {
  text-align: center;
  color: var(--clr-grey-5);
  padding-top: 1.5rem;
}
.contact-us .form .input-group {
  padding: 1rem 1.5rem;
}
.contact-us .form .btn {
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@media screen and (min-width: 992px) {
  .contact-us .info {
    float: left;
    width: 50%;
  }
  .contact-us .form {
    float: left;
    width: 50%;
  }
}

/* Footer */
footer {
  background-color: #222;
  color: var(--clr-white);
  text-align: center;
}
footer .social-icon {
  margin-bottom: 1.25rem;
}
footer .social-icon a {
  font-size: 1.5rem;
  color: var(--clr-white);
  margin-right: 1rem;
  transition: var(--transition);
}
footer .social-icon a:hover {
  color: var(--clr-primary);
}
footer h4 {
  font-weight: 400;
}
footer h4 .company {
  color: var(--clr-primary);
}
